/* 마이페이지 CSS */
.order-filter-period__tab {
    display: flex;
    gap: 5px; /* 버튼 사이의 간격을 조절합니다 */
  }
  
  .order-filter-period__input-wrap {
    display: flex;
    align-items: center;
    gap: 8px; /* 달력 아이콘과 input 사이의 간격을 조절합니다 */
  }
  
  .order-filter-period__input {
    width: 120px; /* input의 너비를 조절합니다 */
  }
  
  /* 달력 아이콘을 화면에 보이지 않게 합니다 */
  .order-filter-period__input-wrap svg {
    display: none;
  }
  
  .ordertable {
    padding: 0;
    font-family: Spoqa Han Sans Neo;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    max-width: 1280px;
    height: 60px;
    border-radius: 10px;
    background: #f2f2f2;
    margin: 0;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 95%;
  }
  
  .noncart {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Spoqa Han Sans Neo;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 23px;
    color: #000000;
    text-align: center;
  }